<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="signup">
        <img class="top-img" src="top-image.png">
        <a href="/login"><img class="down-arrow" src="down-arrow(5).png"></a>
        <p class="heading">Forgot Password</p>
        <form action="/forgot" method="POST">
            <div class="container">
                <input type="email" placeholder="Email-id" name="email" required>
                <button type="submit">Get Email</button>
            </div>
        </form>
        <img class="bottom-img" src="bottom-image.png">
    </div>
</body>
</html>