<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Register Your Hotel</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="signup">
        <img class="top-img" src="top-image.png">
        <a href="/owner"><img class="down-arrow" src="down-arrow(5).png"></a>
        <p class="heading">Hotel Register</p>
        <form action="/hotelregister" method="POST">
            <div class="container">
                <input type="text" placeholder="Hotel Name" name="name" required>
                <input type="text" placeholder="Owner Name" name="ownername" required>
                <input type="text" placeholder="Hotel Description" name="description" required>
                <input type="text" placeholder="Mobile Number" name="phone" required>
                <input type="text" placeholder="profileURL" name="profileURL" required>
                <input type="text" placeholder="Menu URL" name="menuURL" required>
                <input type="text" placeholder="Time" name="timing" required>
                <input type="text" placeholder="Tag 1" name="tag1" required>
                <input type="text" placeholder="Tag 2" name="tag2" required>
                <select name="type" id="" required>
                    <option value="veg">veg</option>
                    <option value="non-veg">non-veg</option>
                    <option value="both">both</option>
                </select><br><br>
                <div class="clearfix">
                    <button type="submit" class="signupbtn">Create</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
