<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="signup">
    <img class="top-img" src="top-image.png">
    <div class="logo"></div>
    <a href="/owner"><img class="french" src="french.png"></a>
    <p class="food">Let's eat<br>Healthy Food !</p>
    <div class="border1"></div>
    <a href="/menu">
      <div class="kamals-1">
        <img class="img1" src="kamals1-img.png">
        <p class="kamals">Kamals</p>
        <img class="leaf-1" src="leaf.png">
        <img class="flame-1" src="flame.png">
        <p class="text">Lorem ipsum dolor sit amet cosur adipisicing <br> elit. Quo, molestias.</p>
        <div class="mexican">
          <p>Mexican</p>
        </div>
        <div class="italian">
          <p>Italian</p>
        </div>
        <div class="indian">
          <p>Indian</p>
        </div>
        <p class="open">Open</p>
      </div>
    </a>
    <div class="border2"></div>
    <a href="/menu">
      <div class="sharmas">
        <img class="img1" src="sharmas-img.png">
        <p class="sharma">Sharmas</p>
        <img class="leaf-2" src="leaf.png">
        <p class="text">Lorem ipsum dolor sit amet cosur adipisicing <br> elit. Quo, molestias.</p>
        <div class="mexican">
          <p>Mexican</p>
        </div>
        <div class="italian">
          <p>Italian</p>
        </div>
        <div class="indian">
          <p>Indian</p>
        </div>
        <p class="closed">Closed</p>
      </div>
    </a>
    <div class="border3"></div>
    <a href="/menu">
      <div class="kamals-2">
        <img class="img1" src="kamals2-img.png">
        <p class="kamals">Kamals</p>
        <img class="flame-2" src="flame.png">
        <p class="text">Lorem ipsum dolor sit amet cosur adipisicing <br> elit. Quo, molestias.</p>
        <div class="mexican">
          <p>Mexican</p>
        </div>
        <div class="italian">
          <p>Italian</p>
        </div>
        <div class="indian">
          <p>Indian</p>
        </div>
        <p class="open">Open</p>
      </div>
    </a>
    <div class="border4"></div>
    <a href="/menu">
      <div class="kamals-3">
        <img class="img1" src="kamals1-img.png">
        <p class="kamals">Kamals</p>
        <img class="leaf-1" src="leaf.png">
        <img class="flame-1" src="flame.png">
        <p class="text">Lorem ipsum dolor sit amet cosur adipisicing <br> elit. Quo, molestias.</p>
        <div class="mexican">
          <p>Mexican</p>
        </div>
        <div class="italian">
          <p>Italian</p>
        </div>
        <div class="indian">
          <p>Indian</p>
        </div>
        <p class="open">Open</p>
      </div>
    </a>
    <div class="bottom-container">
    </div>
    <p class="restaurants">Restaurants</p>

    <a href="/cart">
      <img class="take-away" src="take-away.png">
    </a>

    <a href="/menuform">
      <img class="user" src="user.png">
    </a>

    <a href="/ownerapp">
      <img class="dots" src="dots.png">
    </a>

    <img class="chef" src="chef2.png">

  </div>
</body>

</html>
<!-- 
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
  <title>cart</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="signup">
    <img class="top-img" src="top-image.png">
    <p class="heading">menu</p>
    <form action="/add" method="POST">
      <div class="container">
        <input type="text" placeholder="User ID" name="user_id" required>
        <input type="text" placeholder="Item ID" name="item_id">
        <div class="clearfix">
          <button type="submit" class="signupbtn">Add</button>
        </div>
        <br>
      </div>
    </form>
    <div class="form2">

      <form action="/subtract" method="POST">
        <div class="container">
          <input type="text" placeholder="User ID" name="user_id" required>
          <input type="text" placeholder="Item ID" name="item_id">
          <div class="clearfix">
            <button type="submit" class="signupbtn">Subtract</button>
          </div>
        </div>
      </form>

    </div>

    <a href="/cart">
      <img class="take-away2" src="take-away.png">
    </a>

    <a href="/menuform">
      <img class="user" src="user.png">
    </a>
    
    <a href="/ownerapp">
      <img class="dots" src="dots.png">
    </a>
    
    <a href="/index">
      <img class="chef" src="chef.png">
    </a>
    
  </div>

</body>

</html> -->
