<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Enter Mobile-Number</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="signup">
        <img class="top-img" src="top-image.png">
        <a href="/owner"><img class="down-arrow" src="down-arrow(5).png"></a>
        <p class="heading">Enter Mobile-No.</p>
        <form action="/mobile" method="POST">
            <div class="container">
                <input type="email" placeholder="Email of user" name="email" required>
                <input type="text" placeholder="Order Id" name="order_id" required>
                <input type="text" placeholder="Mobile Number" name="phone" required>
                <div class="clearfix">
                    <button type="submit" class="signupbtn">Place Order</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>