<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Owner Log In</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="signup">
        <img class="top-img" src="top-image.png">
        <a href="/owner"><img class="down-arrow" src="down-arrow(5).png"></a>
        <p class="heading">Owner Log In</p>
        <form action="/ownerlogin" method="POST">
            <div class="container">
                <input type="text" placeholder="Owner Name" name="name" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Sign In</button>
            </div>
        </form>
    </div>
</body>
</html>