<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Register Yourself</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="signup">
        <img class="top-img" src="top-image.png">
        <a href="/index"><img class="down-arrow" src="down-arrow(5).png"></a>
        <p class="heading">Owner</p>
        <div class="clearfix">
            <a href="/ownerRegister"><button class="signupbtn1">Owner Register</button></a>
        </div>
        <div class="clearfix">
            <a href="/ownerlogin"><button class="signupbtn2">Owner LogIn</button></a>
        </div>
        <div class="clearfix">
            <a href="/hotelstatus"><button class="signupbtn4">Hotel Status</button></a>
        </div>
        <div class="clearfix">
            <a href="/hoteldetail"><button class="signupbtn5">Hotel Register</button></a>
        </div>
        <div class="clearfix">
            <a href="/mobile"><button class="signupbtn6">Ask Mobile No.</button></a>
        </div>
        <div class="clearfix">
            <a href="/availability"><button class="signupbtn7">Item Availability</button></a>
        </div>
        <div class="clearfix">
            <a href="/hoteledit"><button class="signupbtn8">Hotel Edit</button></a>
        </div>
        <div class="clearfix">
            <a href="/itemedit"><button class="signupbtn9">Item Edit</button></a>
        </div>
        <div class="clearfix">
            <a href="/complete"><button class="signupbtn10">Order Complete</button></a>
        </div>
        <div class="clearfix">
            <a href="/request"><button class="signupbtn3">Request acc/rej</button></a>
        </div>
    </div>
</body>

</html>