<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="signup">
        <img class="top-img" src="top-image.png">
        <p class="welcome">Welcome there!</p>
        <img class="dish1" src="dish-1.png">
        <img class="dish2" src="dish-2.png">
        <img class="dish3" src="dish-3.png">
        <img class="dish4" src="dish-4.png">
        <a href="/login"><button class="b1" type="submit" >Sign In</button></a>
        <a href="/register"><button class="b2" type="submit">Sign Up</button></a>
        <div class="line"></div>
        <span>Or connect with</span>
        <img class="bottom-img" src="bottom-image.png">
        <a href="/auth/google"><img class="google-img" src="google(1).png"></a>
        <img class="fb-img" src="facebook(3).png">
    </div>
</body>
</html>